asgiref==3.5.0
backports.zoneinfo==0.2.1
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
distlib==0.3.4
dj-database-url==0.5.0
dj-email-url==1.0.5
Django==4.0.2
django-cache-url==3.4.0
django-crispy-forms==1.9.2
docutils==0.17.1
environs==9.5.0
filelock==3.4.2
Flask==2.0.2
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.3
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.gstreamer==0.3.2
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
MarkupSafe==2.0.1
marshmallow==3.15.0
packaging==21.3
platformdirs==2.5.0
pygame==2.0.1
Pygments==2.10.0
pyparsing==3.0.8
pypiwin32==223
python-dotenv==0.20.0
pywin32==302
requests==2.26.0
six==1.16.0
sqlparse==0.4.2
tzdata==2021.5
urllib3==1.26.7
virtualenv==20.13.1
Werkzeug==2.0.2
